<h3 align="center">The Global Reading Project is an initiative which was established to encourage students 
to read more widely and diversely</h3>

<div align="center">
  <%= link_to 'Home', root_path %>
  <%= link_to 'East Asia', eastasia_path %>
  <%= link_to 'Europe', europe_path %>
  <%= link_to 'South and South East Asia', southandsoutheastasia_path %>
  <%= link_to 'African-American', africanamerican_path %>
  <%= link_to 'South American', southandcentralamerica_path %>
  <%= link_to 'West Asia', westasia_path %>
  <%= link_to 'Caribbean', caribbean_path %>
  <%= link_to 'North, South and Central Africa', northsouthandcentralafrica_path %>
  <%= link_to 'East and West Africa', eastandwestafrica_path %>
</div>


<img src="/images/Global Reads Map Board.jpg" alt="rss feed" />


<%= link_to 'Home', root_path %> 